*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;x: x;
}

button{
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(245, 192, 106);
    color: rgb(129, 69, 23);
}